@tailwind base;
@tailwind components;
@tailwind utilities;


.main-box {
    position: relative;
}

.main-box::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(23, 41, 78, 0.4);
    z-index: 1;
}